@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 37px 37px;
    margin: 10%;
    z-index: 1;
    scroll-margin-top: 100px;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 19px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    top: -25px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aboutItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 15px;
    background-image: linear-gradient(90deg, rgba(165, 215,232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
    overflow: hidden;
}

.aboutItem::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 20px;
  background: linear-gradient(90deg, hsl(39,100%,45%), rgba(255, 255, 255, 0));
  pointer-events: none;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: xor;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-clip: content-box, border-box;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-clip: content-box, border-box;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.aboutItem:hover::before {
  opacity: 1;
  animation: drawOutline .4s linear forwards;
}

@keyframes drawOutline {
  0% {
    background: conic-gradient(
      from 270deg,
       0deg,
      transparent 0deg
    );
  }
  25% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 90deg,
      transparent 90deg
    );
  }
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutImage h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
    }
    .container {
        scroll-margin-top: 50px;
    }
    .title {
        margin-top: 50px;
        font-size: 30px;
    }
    .aboutItems {
        margin-top: 29px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        scroll-margin-top: 50px;
    }
    .title {
        margin-top: 50px;
        font-size: 28px;
    }
}