@import "../../vars.css";

.navbar {
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%,rgba(25, 55, 109, 0) 130%);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0.6rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-text);
  margin-right: 25px;
}

.menu {
  display: flex;
  align-items: center;
}

.menuBtn {
  display: none;
  cursor: pointer;
}

.title:hover {
  color: hsl(39, 100%, 45%);
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  align-items: center;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuItems a:hover {
  color: hsl(39, 100%, 45%);
}

.menuItems a.active,
.title.active {
  color: hsl(39, 100%, 45%);
}


@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    top: 21%;
    right: 1rem;
    left: auto;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    padding: 1rem;
  }

  .menuItems {
    flex-direction: column;
    gap: 20px;
  }

  .menuItems a:hover {
    color: hsl(39, 100%, 45%);
  }
}
