@import "../../vars.css";

.navbar {
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%,rgba(25, 55, 109, 0) 130%);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  margin: 0 auto;
  z-index: 5;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 1.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
}

.menu {
  align-items: center;
  display: flex;
}

.menuBtn {
  display: none;
  cursor: pointer;
}

.menuItems {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 47px;
  flex: 1;
}
.menuItems li {
  flex: 1;
  text-align: center;
  height: 25px;
  width: 25px;
}
.menuItems a svg {
  display: block;
  height: 25px;
  width: 25px;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItems a:hover {
  color: hsl(39, 100%, 45%);
}

.menuItems a.active{
  color: hsl(39, 100%, 45%);
}


@media screen and (max-width: 830px) {
  .navbar {
    padding: 1% 2%;
  }
  .menuItems {
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
  .menuItems a:hover {
    color: hsl(39, 100%, 45%);
  }
}
