@import "../../vars.css";

.container {
    position: relative;
    color: var(--color-text);
    margin: 5% auto;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1% 2%;
    gap: 40px;
    border-radius: 15px;
    width: 50%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 15px;
  background: conic-gradient(from 225deg, hsl(39, 100%, 45%) 0deg, transparent 0deg);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
}

.container:hover::before {
  opacity: 1;
  animation: drawOutline .5s linear forwards;
}

@keyframes drawOutline {
  0% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg,
      transparent 0deg
    );
  }
  25% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 90deg,
      transparent 90deg
    );
  }
  /* 50% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 180deg,
      transparent 180deg
    );
  } */
  75% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 270deg,
      transparent 270deg
    );
  }
  100% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 360deg,
      transparent 360deg
    );
  }
}

.container:target {
    animation: scalePulse 2.5s ease;
}

@keyframes scalePulse {
  0% { transform: scale(1);}
  50% { transform: scale(1.06); box-shadow: 0px 4px 5px 0px gray;}
  100% { transform: scale(1);}
}

.container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0px 4px 5px 0px gray; */
  cursor: pointer;
}

.text h2 {
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.text p {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style: none;
    gap: 26px;
    font-size: 35px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
}

.links li a {
    background: var(--color-dark);
    border-radius: 45px;
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    height: 3.5rem;
    width: 3.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.links li a:hover {
    background-color: hsl(39, 100%, 45%);
    border-radius: 45px;
    transform: scale(1.2);
}

@media screen and (max-width: 1190px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 5%;
        width: 30%;
        min-width: 211px;
    }
    .links {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }
    .links li a {
        height: 3rem;
        width: 3rem;
    }
    .text h2{
        font-size: 30px;
        margin-top: -15px;
        text-align: center;
    }
    .text p {
        font-size: 25px;
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 20px 5%;
        width:45%;
        gap:15px;
        min-width: 200px;
    }
    .text h2 {
        font-size: 17px;
        margin-top: -15px;
        text-align: center;
    }
    .text p {
        font-size: 15px;
        text-align: center;
    }
    .links {
        flex-direction: row;
        gap: 12px;
        justify-content: center;
    }
    .links li a {
        height: 3rem;
        width: 3rem;
    }
}