@import "../../vars.css";

.container {
  color: var(--color-text);
  margin: 5% auto;
  padding: 0 20px;
  scroll-margin-top: 100px;
}

.title {
  top: 15px;
  text-align: center;
  margin-bottom: 79px;
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: grid;
  margin-left: 45px;
  grid-template-rows: max-content;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 37px;
  margin-bottom: 3%;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}

.skillImageContainer img {
  width: 50px;
}

.skill p {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-roboto);
  align-self: center;
  }
  
.history {
  margin-top: 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
  
.historyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  flex: 1 1 300px;
  max-width: 350px;
  height: 425px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%,rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  overflow: hidden;
}
  
.historyItem::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 15px;
  background: conic-gradient(from 225deg, hsl(39, 100%, 45%) 0deg, transparent 0deg);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
}

.historyItem:hover::before {
  opacity: 1;
  animation: drawOutline .3s linear forwards;
}

@keyframes drawOutline {
  0% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg,
      transparent 0deg
      );
    }
    25% {
      background: conic-gradient(
        from 270deg,
        hsl(39,100%,45%) 0deg 90deg,
        transparent 90deg
        );
      }
      /* 50% {
        background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 180deg,
      transparent 180deg
      );
      } */
      75% {
        background: conic-gradient(
          from 270deg,
      hsl(39,100%,45%) 0deg 270deg,
      transparent 270deg
      );
    }
    100% {
      background: conic-gradient(
        from 270deg,
        hsl(39,100%,45%) 0deg 360deg,
      transparent 360deg
      );
    }
  }
  
  .historyItem:hover {
    transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0px 4px 5px 0px gray; */
  cursor: pointer;
}

.historyItem img {
  width: 60px;
  border-radius: 100%;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  color: hsl(39, 100%, 45%);
  font-size: 22px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 17px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 10px;
  list-style-position: inside;
  font-size: 20px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 950px) {
  .content {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 34px;
  }
  .title {
    font-size: 32px;
  }
  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .history {
    width: 100%;
    gap: 9px;
    flex-direction: column;
    align-items: center;
  }
  .historyItem {
    flex-direction: row;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .content{
    margin-left: 0;
  }
  .title {
    font-size: 28px;
  }
  .history {
    flex-direction: column;
  }
  .historyItem {
    flex-direction: row;
    width: auto;
    height: fit-content;
    padding: 14px;
  }
  .historyItemDetails p {
    font-size: 14px;
  }
  .skill p {
    font-size: 14px;
  }
  .skillImageContainer img {
    width: 30px;
  }
  .skillImageContainer {
    width: 70px;
    height: 70px;
  }
  .historyItemDetails h3 {
    font-size: 19px;
  }
  .historyItemDetails ul {
    font-size: 15px;
    margin-top: 6px;
  }
}
