@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 10px;
  background: conic-gradient(from 225deg, hsl(39, 100%, 45%) 0deg, transparent 0deg);
  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
}

.container:hover::before {
  opacity: 1;
  animation: drawOutline .4s linear forwards;
}

@keyframes drawOutline {
  0% {
    background: conic-gradient(
      from 270deg,
       0deg,
      transparent 0deg
    );
  }
  25% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 90deg,
      transparent 90deg
    );
  }
  /* 50% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 180deg,
      transparent 180deg
    );
  } */
  75% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 270deg,
      transparent 270deg
    );
  }
  100% {
    background: conic-gradient(
      from 270deg,
      hsl(39,100%,45%) 0deg 360deg,
      transparent 360deg
    );
  }
}

.container:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0px 4px 5px 0px gray; */
  cursor: pointer;
}

.image {
  margin-bottom: 26px;
  height: 200px;
  width: 298px;
  object-fit:cover;
  border-radius: 15px;
  opacity: 0.9;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  height: 252px;
  width: 297px;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  align-self: center;
  font-size: 15px;
  font-weight: 300;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 12px;
  text-align: center;
}

.coverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 2;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  background: black;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  z-index: 1;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  padding-bottom: 1%;
  padding-left: 1%;
  transition: background 0.3s ease;
  z-index: 3;
}

.playButton:hover {
    background: rgba(0,0,0,0.8);
}
